asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
bitstruct==8.19.0
blinker==1.8.2
branca==0.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
Farama-Notifications==0.0.4
fiona==1.9.6
Flask==3.0.3
Flask-Cors==4.0.1
folium==0.16.0
fonttools==4.47.2
geopandas==0.14.3
gymnasium==0.29.1
-e git+https://github.com/Khyst/highway_env.git@7269a819a06d0d1eb38bfc1eae9ae52066399ef6#egg=highway_env
idna==3.7
ipykernel==6.29.4
ipython==8.23.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
MAPF==0.9.9
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
networkx==3.1
numpy==1.26.3
osmium==3.7.0
osmnx==1.9.2
packaging==23.2
pandas==2.2.1
parso==0.8.4
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pygame==2.5.2
Pygments==2.17.2
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pyzmq==26.0.2
QDarkStyle==3.2.3
QtPy==2.4.1
requests==2.31.0
scipy==1.12.0
setuptools==69.5.1
shapely==2.0.4
simplejson==3.19.2
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
tornado==6.4
traitlets==5.14.3
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.3
xyzservices==2024.4.0
